.contacts {
    padding: 130px 0 160px;
    @media (max-width: $_media_mobile) {
        padding: 90px 0 150px;
    }

    &__h3 {
        margin-bottom: 35px;
    }

    &__content {
        margin-top: 90px;
        display: grid;
        grid-template-columns: 5fr 8fr;
        grid-gap: 5%;
        @media (max-width: $_media_laptop_3) {
            grid-template-columns: 400px 1fr;
        }
        @media (max-width: $_media_laptop) {
            grid-gap: 5%;
            grid-template: auto auto / 1fr;
            margin-top: 10vw;
        }
    }

    &__left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__form {
        margin-top: 6.25vw;
        width: 100%;
    }

    &__right {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-gap: 50px;
        @media (max-width: $_media_laptop) {
            grid-template-rows: auto 60vh;
            grid-gap: 7vw;
        }
    }

    &__addresses {
        transform: translateX(28px);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-gap: 6.25vw;
    }

    &__address {
        display: flex;
        flex-direction: column;
        position: relative;
        transition: 300ms;
        cursor: pointer;

        &:before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url(../img/geo.svg);
            position: absolute;
            left: -28px;
            top: 2px;
        }

        &-span {
            transition: 300ms;
            cursor: pointer;
        }

        &:hover {
            &, span {
                transition: 300ms;
                text-decoration: underline;
            }
        }
    }
    &__map {
        border-radius: 46px;
        overflow: hidden;
        &, & > iframe {
            width: 100%;
            height: 100%;
        }
    }
}

