.container {
    width: 1592px;
    max-width: 90% !important;
    margin: 0 auto;
}

.title__h2 {
    font-family: MuseoSansCyrl;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 58px;
    color: #413949;
}

.decoration {
    padding-bottom: 166px;
    background-color: #FDFDFD;

    &__ul {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 3.5vw;
        margin-top: 5vw;
        @media (max-width: 768px) {
            grid-gap: 12vw;
        }
    }
    &__li {

    }
    &__img {
        max-width: 100%;
        border-radius: 30px 30px 30px 0;
    }
    &__h3 {
        margin: 40px 0 23px 0;
        @media (max-width: 768px) {
            margin: 20px 0 5px;
        }
    }
    &__list {

        &-li {
            width: calc(100% - 35px);
            margin-left: 2vw;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: -15px;
                top: 7px;
                display: inline-block;
                width: 8px;
                height: 11px;
                background-image: url("../img/petal.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transform: rotate(-90deg);
            }
        }
    }
}
