.developer {
    position: relative;

    &__wrapper {
        display: flex;
    }

    &__left {
        width: 30%;
        @media (max-width: $_media_laptop) {
            width: 0;
        }
    }

    &__right {
        width: 57%;
        transform: translateX(3vw);
        @media (max-width: $_media_laptop) {
            transform: translateX(0);
            width: 100%;
        }

        & > * {
            z-index: 1;
        }

        & .infographics {
            background-color: transparent;
        }
    }

    &__logo {
        object-fit: cover;
    }

    &__h2 {
        margin: 20px 0 35px;
        transform: translateX(-2px);
        @media (max-width: $_media_mobile) {
            margin: 20px 0 $_titleBottom;
        }
    }
}
