.documents {
    background: #F9FAFA;
    padding: 160px 0 180px;
    clip-path: ellipse(115% 50% at 50% 50%);

    &__wrapper {

    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 72px;
        @media (max-width: 768px) {
            display: grid;
            grid-gap: 5vw;
        }
    }

    &__ul {
        display: grid;
        grid-row-gap: 3.5vw;
        grid-column-gap: 6vw;
        grid-template-columns: repeat(3,minmax(256px,1fr));
        @media (max-width: 1440px) {
            grid-template-columns: repeat(2,minmax(256px, 1fr));
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fill,minmax(256px, 1fr));
        }
    }

    &__li {
        transform: translateY(50px);
        opacity: 0;
        margin: auto 0;
    }

    &__a {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 35px;
        align-items: center;
        grid-template-columns: min-content;
        transition: 300ms;

        &:hover {
            & .documents__download {
                background-color: $_orange2;
            }
        }
    }

    &__download {
        background-image: url(../img/download.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 27px;
        padding: 38px;
        border-radius: 50%;
        background-color: $_orange;
        transition: 300ms;
    }

    &__span {
    }
}
