$pfx: "footer";

.#{$pfx} {
    &__container {
        background-color: #000;
    }
}

.footer {
    background-color: $_dark;
    padding: 42px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $media_768) {
            display: grid;
            grid-gap: 5vw;
            justify-content: center;
        }
    }

    &__left, &__right {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
    }

    &__left {
        grid-gap: 50px;
        @media (max-width: $media_1024) {
            grid-gap: 30px;
        }
        @media (max-width: $media_768) {
            display: grid;
            grid-template: auto auto / 1fr;
            grid-gap: 5vw;

            & > * {
                margin: auto;
                text-align: center;
            }
        }
    }

    &__right {
        grid-gap: 10px;
    }

    &__a {
        transform: translateY(2px);
    }
}
