$pfx: "header";

.#{$pfx} {
    &__container {
        background-color: red;
    }
}

.logo {

    &__img {
        width: 130px;
        height: 70px;
        object-fit: cover;
    }
}

.header {
    height: 960px;
    position: relative;
    display: flex;
    clip-path: ellipse(150% 100% at 50% 0%);
    @media (max-width: 1024px) {
        height: 100vh;
        flex-direction: column;
    }

    &__top {
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        position: absolute;
        z-index: 2;

        &-p {
            @media (max-width: 1024px) {
                display: none;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }

    }

    &__geo {
        margin-left: 4vw;
        @media (max-width: 768px) {
            display: none;
        }

        &:before {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/header__geo.svg);
            width: 13px;
            height: 18px;
            display: inline-block;
            padding-right: 13px;
            transform: translate(0, 2px);
        }
    }

    &__tel {
        transform: translateX(50vw);
        transition: 500ms;
        @media (max-width: 1024px) {
            margin-left: -40px;
        }
        @media (max-width: 768px) {
            display: none;
        }

        &--active {
            transition: 500ms;
            transform: none;
        }
    }

    &__close {
        width: 0;
        height: 0;
        opacity: 0;
        margin-left: 24px;
        transition: 500ms;

        &--active {
            cursor: pointer;
            width: 24px;
            height: 24px;
            opacity: 1;
            transition: 500ms;
            margin-left: 0;
        }
    }

    &__menu-button {
        cursor: pointer;
        background-color: transparent;
        margin: auto;
        @media (max-width: 768px) {
            margin-right: 0;
        }

        &:before {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/header__menu-button.svg);
            width: 28px;
            height: 20px;
            display: inline-block;
            padding-right: 26px;
            transform: translate(0, 2px);
        }

    }

    &__left {
        width: 50%;
        height: 100%;
        @media (max-width: 1024px) {
            width: 100%;
            height: 30%;
            background-position: top;
        }
        @media (max-width: 768px) {
            height: 0;
        }
        &-img img {
            height: 100%;
        }
    }

    &__right {
        background-color: $_blue;
        display: flex;
        align-items: center;
        width: 50%;
        padding-left: 20vw;
        padding-right: 6vw;
        position: relative;
        overflow: hidden;
        @media (max-width: 1024px) {
            width: 100%;
            height: 70%;
        }
        @media (max-width: 768px) {
            padding: 0 10vw;
            height: 100%;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            background-repeat: no-repeat;
            pointer-events: none;
            width: 100%;
            height: 100%;
        }

        &:before {
            background-image: url(../img/header__right--1.svg);
        }

        &:after {
            background-image: url(../img/header__right--2.svg);
            bottom: -20px;
        }

        &-wrapper {
            transform: translateX(-50vw);
            transition: 500ms;
            @media (max-width: 1024px) {
                transform: translateX(-80vw);
            }
            @media (max-width: 768px) {
                margin-top: 20vw;
                transform: translateX(-110vw);
            }

            &--active {
                transition: 500ms;
                transform: none;
            }

            & > * {
                z-index: 1;
            }
        }


        &-p {
            margin: 20px 0 50px 0;
        }
    }

    &__center {
        width: 0;
        height: 0;
        object-fit: contain;
        object-position: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        transition: 600ms;
        opacity: 0;
        transform: translateY( 0 ) rotate(360deg);
        @media (max-width: 768px) {
            display: none;
        }

    &--active {
            transform: translateY( 0 ) rotate(0);
            transition: 600ms;
            min-width: 200px;
            width: 35vw;
            max-width: 550px;
            min-height: 200px;
            height: 35vw;
            max-height: 550px;
            opacity: 1;
            @media (max-width: 1024px) {
                transform: translateY( calc( -20vh ) ) rotate(0);
            }
        }
    }

    &-quiz {
        width: 450px;
        left: 55%;
        position: absolute;
        top: 200%;
        right: 25%;
        transform: translateY(-50%);
        z-index: 5;
        transition: 500ms;
        @media (max-width: 1024px) {
            width: 90%;
            left: 5%;
        }

        &--active {
            top: 50%;
            transition: 500ms;
            @media (max-width: 1024px) {
                top: 61%;
            }
        }

        &__step {
            top: 0;
            visibility: hidden;
            position: absolute;
            opacity: 0;
            pointer-events: none;
            transition: 300ms;
            transform: translateY(-50px);

            &--active {
                visibility: visible;
                opacity: 1;
                position: relative;
                pointer-events: auto;
                transition: 300ms;
                transform: translateY(0);
            }
        }

        &__top {
        }

        &__content {
        }

        &__labels {
            margin: 33px 0 57px 0;
            display: grid;
            grid-gap: 20px;
            @media (max-width: 768px) {
                margin: 25px 0 35px;
                display: grid;
                grid-gap: 10px;
            }
        }

        &__li {
        }

        &__buttons {
            max-width: 100%;
            display: flex;
        }
    }

    &-nav {
        position: absolute;
        top: 50%;
        right: -60vw;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        z-index: 5;
        transition: 500ms;
        @media (max-width: 1024px) {
            right: -75vw;
            top: 60%;
        }
        @media (max-width: 768px) {
            right: -185vw;
        }

        &__a {
            font-weight: 600;
            font-size: 24px;
            line-height: 58px;
            color: $neutralColor;
            margin-left: var(--i);
            transition: 500ms;
            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 38px;
            }

            &:hover {
                opacity: 0.5;
            }
        }

        &--active {
            right: 25%;
            transition: 500ms;

            & > .header-nav__a {
                margin-left: 0;
                transition: 500ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

        &__mobile {
            display: none;
            grid-gap: 8px;
            margin-top: 20px;
            @media (max-width: 768px) {
                display: grid;
                & > * {
                    display: block;
                    margin: 0;
                }
            }
        }
    }
}
