:root {
    --abc: 1440
}

.infographics {
    background-color: #FDFDFD;
    padding: calc( 90  * 100vw / var(--abc)) 0 calc( 110 * 100vw / var(--abc));

    &__ul {
        transform: translateX(-2vw);
        width: calc( 1000 * 100vw / var(--abc));
        height: calc( 383 * 100vw / var(--abc));
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media (max-width: $_media_mobile) {
            height: calc( 2 * 383 * 100vw / 768);
            display: grid;
            grid-template: repeat(2, 45vw) / 1fr 1fr;
            grid-gap: 6vw;
        }

        &--developer {
            width: 100%;
            height: calc( 573 * 100vw / var(--abc));
            @media (min-width: $_media_4K) {
                transform: scale(0.8);
            }
            @media (max-width: $_media_mobile) {
                height: auto;
                grid-template: 55vw 45vw 45vw/1fr;
            }
        }
    }

    &__li {
        position: relative;
        flex: 1;
        transform: scale(0);

        &--3 {
            flex: 2;
        }
    }

    &__bubble {
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;

        &--1 {
            width: calc( 182.5 * 100vw / var(--abc));
            height: calc( 179 * 100vw / var(--abc));
            background-image: url("../img/infographics__bubble--1.svg");
        }

        &--2 {
            width: calc( 131.5 * 100vw / var(--abc));
            height: calc( 109.5 * 100vw / var(--abc));
            background-image: url("../img/infographics__bubble--2.svg");
            bottom: 0;
            right: calc( 30 * 100vw / var(--abc));
        }

        &--3 {
            width: calc( 259 * 100vw / var(--abc));
            height: calc( 243 * 100vw / var(--abc));
            background-image: url("../img/infographics__bubble--3.svg");
        }

        &--4 {
            width: calc( 196 * 100vw / var(--abc));
            height: calc( 167.5 * 100vw / var(--abc));
            background-image: url("../img/infographics__bubble--4.svg");
            bottom: calc( 20 * 100vw / var(--abc));
            left: calc( -20 * 100vw / var(--abc));
        }

        &--5 {
            width: calc( 96 * 100vw / var(--abc));
            height: calc( 94 * 100vw / var(--abc));
            background-image: url("../img/infographics__bubble--5.svg");
            top: calc( 140 * 100vw / var(--abc));
            right: calc( 120 * 100vw / var(--abc));
            @media (max-width: $_media_mobile) {
                width: 30vw;
                height: 30vw;
            }
        }

        &--6 {
            width: calc( 233 * 100vw / var(--abc));
            height: calc( 218 * 100vw / var(--abc));
            background-image: url("../img/infographics__bubble--6.svg");
            bottom: calc( 70 * 100vw / var(--abc));
            left: calc( 0 * 100vw / var(--abc));
            @media (max-width: $_media_mobile) {
                width: 30vw;
                height: 30vw;
            }
        }

        &--7 {
            width: calc( 131 * 100vw / var(--abc));
            height: calc( 130 * 100vw / var(--abc));
            background-image: url("../img/infographics__bubble--7.svg");
            top: calc( 150 * 100vw / var(--abc));
            left: calc( 40 * 100vw / var(--abc));
            @media (max-width: $_media_mobile) {
                width: 30vw;
                height: 30vw;
            }
        }

        @media (max-width: $_media_mobile) {
            --abc: 768;
        }

    }

    &__petal {
        position: absolute;
        background-image: url("../img/petal.svg");
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation-delay: $_animationDelay;

        &--1 {
            width: calc( 44 * 100vw / var(--abc));
            height: calc( 58 * 100vw / var(--abc));
            right: 0;
            top: calc( 103 * 100vw / var(--abc));
        }

        &--3 {
            width: calc( 70 * 100vw / var(--abc));
            height: calc( 92 * 100vw / var(--abc));
            bottom: calc( 44 * 100vw / var(--abc));
            right: calc( 194 * 100vw / var(--abc));
        }

        &--4 {
            width: calc( 34 * 100vw / var(--abc));
            height: calc( 45 * 100vw / var(--abc));
            top: calc( 91 * 100vw / var(--abc));
            left: calc( 6 * 100vw / var(--abc));
        }

        &--6 {
            top: calc( 100 * 100vw / var(--abc));
            left: calc( 45 * 100vw / var(--abc));
            height: calc( 67 * 100vw / var(--abc));
            width: calc( 50 * 100vw / var(--abc));
        }

        &--7 {
            width: calc( 34 * 100vw / var(--abc));
            height: calc( 41 * 100vw / var(--abc));
            top: calc( 341 * 100vw / var(--abc));
            left: calc( 56 * 100vw / var(--abc));
        }

        @media (max-width: $_media_mobile) {
            --abc: 768;
        }
    }

    &__texts {
        position: absolute;
        width: 100%;

        &--1 {
            top: calc( 75 * 100vw / var(--abc));
            @media (max-width: $_media_mobile) {
                top: 10vw;
            }
        }

        &--2 {
            bottom: calc( 20 * 100vw / var(--abc));
        }

        &--3 {
            top: calc( 70 * 100vw / var(--abc));
            @media (max-width: $_media_mobile) {
                top: -7vw;
            }
        }

        &--4 {
            bottom: calc( 90 * 100vw / var(--abc));
            transform: translateX(calc( 30 * 100vw / var(--abc)));
            @media (max-width: $_media_mobile) {
                bottom: -6vw;
            }
        }

        &--5 {
            top: calc( 70 * 100vw / var(--abc));
            transform: translateX(calc( 30 * 100vw / var(--abc)));
        }

        &--6 {
            bottom: calc( 180 * 100vw / var(--abc));
            @media (max-width: $_media_mobile) {
                bottom: 10vw;
            }
        }

        &--7 {
            top: calc( 100 * 100vw / var(--abc));
            transform: translateX(calc( 30 * 100vw / var(--abc)));
        }

        @media (max-width: $_media_mobile) {
            --abc: 768;
        }
    }

    &--developer {
        padding: 0;
    }
}
