.infographics {
    background-color: #FDFDFD;
    padding: calc( 90  * 100vw / 1440) 0 calc( 110 * 100vw / 1440);

    &__ul {
        width: calc( 1300 * 100vw / 1440);
        height: calc( 383 * 100vw / 1440);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &--developer {
            width: 100%;
            height: calc( 573 * 100vw / 1440);
        }
    }

    &__li {
        position: relative;
        flex: 1;
        transform: scale(0);

        &--3 {
            flex: 2;
        }
    }

    &__bubble {
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;

        &--1 {
            width: calc( 182.5 * 100vw / 1440);
            height: calc( 179 * 100vw / 1440);
            background-image: url("../img/infographics__bubble--1.svg");
        }

        &--2 {
            width: calc( 131.5 * 100vw / 1440);
            height: calc( 109.5 * 100vw / 1440);
            background-image: url("../img/infographics__bubble--2.svg");
            bottom: 0;
            right: calc( 30 * 100vw / 1440);
        }

        &--3 {
            width: calc( 259 * 100vw / 1440);
            height: calc( 243 * 100vw / 1440);
            background-image: url("../img/infographics__bubble--3.svg");
        }

        &--4 {
            width: calc( 196 * 100vw / 1440);
            height: calc( 167.5 * 100vw / 1440);
            background-image: url("../img/infographics__bubble--4.svg");
            bottom: calc( 20 * 100vw / 1440);
            left: calc( -20 * 100vw / 1440);
        }

        &--5 {
            width: calc( 96 * 100vw / 1440);
            height: calc( 94 * 100vw / 1440);
            background-image: url("../img/infographics__bubble--5.svg");
            top: calc( 140 * 100vw / 1440);
            right: calc( 120 * 100vw / 1440);
        }

        &--6 {
            width: calc( 233 * 100vw / 1440);
            height: calc( 218 * 100vw / 1440);
            background-image: url("../img/infographics__bubble--6.svg");
            bottom: calc( 70 * 100vw / 1440);
            left: calc( 0 * 100vw / 1440);
        }

        &--7 {
            width: calc( 131 * 100vw / 1440);
            height: calc( 130 * 100vw / 1440);
            background-image: url("../img/infographics__bubble--7.svg");
            top: calc( 150 * 100vw / 1440);
            left: calc( 40 * 100vw / 1440);
        }

    }

    &__petal {
        position: absolute;
        background-image: url("../img/petal.svg");
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation-delay: $_animationDelay;

        &--1 {
            width: calc( 44 * 100vw / 1440);
            height: calc( 58 * 100vw / 1440);
            right: 0;
            top: calc( 103 * 100vw / 1440);
        }

        &--3 {
            width: calc( 70 * 100vw / 1440);
            height: calc( 92 * 100vw / 1440);
            bottom: calc( 44 * 100vw / 1440);
            right: calc( 194 * 100vw / 1440);
        }

        &--4 {
            width: calc( 34 * 100vw / 1440);
            height: calc( 45 * 100vw / 1440);
            top: calc( 91 * 100vw / 1440);
            left: calc( 6 * 100vw / 1440);
        }

        &--6 {
            top: calc( 100 * 100vw / 1440);
            left: calc( 45 * 100vw / 1440);
            height: calc( 67 * 100vw / 1440);
            width: calc( 50 * 100vw / 1440);
        }

        &--7 {
            width: calc( 34 * 100vw / 1440);
            height: calc( 41 * 100vw / 1440);
            top: calc( 341 * 100vw / 1440);
            left: calc( 56 * 100vw / 1440);
        }
    }

    &__texts {
        position: absolute;
        width: 100%;

        &--1 {
            top: calc( 75 * 100vw / 1440);
        }

        &--2 {
            bottom: calc( 20 * 100vw / 1440);
        }

        &--3 {
            top: calc( 70 * 100vw / 1440);
        }

        &--4 {
            bottom: calc( 90 * 100vw / 1440);
            transform: translateX(calc( 30 * 100vw / 1440));
        }

        &--5 {
            top: calc( 70 * 100vw / 1440);
            transform: translateX(calc( 30 * 100vw / 1440));
        }

        &--6 {
            bottom: calc( 180 * 100vw / 1440);
        }

        &--7 {
            top: calc( 100 * 100vw / 1440);
            transform: translateX(calc( 30 * 100vw / 1440));
        }
    }

    &--developer {
        padding: 0;
    }
}
