.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: 500ms;
    transform: translateX(-100%);
    z-index: 100;

    &--active {
        transform: translateX(0);
        transition: 500ms;

        .modal__background {
            transition: 500ms;
            opacity: 0.8;
            box-shadow: 20px 0 40vw 40vw #61bdb5;
        }
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #61BDB5;
        opacity: 0;
        cursor: pointer;
        transition: 500ms;
        box-shadow: 20px 0 20px 20px #61BDB5ff;
    }

    &__content {
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        clip-path: ellipse(100% 120% at 0 50%);
        position: relative;
    }

    &__close {
        position: absolute;
        top: 50px;
        right: 150px;
        cursor: pointer;
    }
}

.modal-request {

}
