.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: 500ms;
    transform: translateX(-100%);
    z-index: 100;

    &--active {
        transform: translateX(0);
        transition: 500ms;

        .modal__background {
            transition: 500ms;
            opacity: 0.8;
            box-shadow: 20px 0 40vw 40vw #61bdb5;
        }

        .modal__wrapper {
            clip-path: circle(100%);
            transition: 300ms;
        }
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #61BDB5;
        opacity: 0;
        cursor: pointer;
        transition: 500ms;
        box-shadow: 20px 0 20px 20px #61BDB5ff;
    }

    &__content {
        width: 75%;
        height: 100%;
        background-color: #ffffff;
        clip-path: ellipse(100% 120% at 0 50%);
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        @media (max-width: 1024px) {
            width: 95%;
        }

        &--thanks {
            overflow: visible;
            background-color: transparent;
            border-radius: 50%;
            width: 700px;
            height: 700px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 300ms;
        }
    }

    &__close {
        position: absolute;
        top: 50px;
        right: 150px;
        cursor: pointer;
    }

    &__left {
        margin-left: calc( ( 100vw - 1592px ) / 2 );
    }

    &__img {
        width: 25vw;
        height: 30vw;
        object-fit: contain;
        background: #F2F2F2;
    }

    &__wrapper {
        background-color: #ffffff;
        box-shadow: 0 0 0px 100vw #ffffff;
        width: 50%;
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 50px;
        grid-template-rows: 60px 60px 60px;
        clip-path: circle(0);
        transition: 300ms;

        & > * {
            text-align: center;
        }
    }
}

.modal-request {

    &__form {
        width: 50%;
        min-width: 600px;
        margin-left: calc( ( 100vw - 1592px ) / 2 );
        transform: translateX(-100vw);
        transition: 500ms;
        @media (max-width: 1800px) {
            margin-left: 10%;
        }

        &--active {
            transform: translateX(0);
            transition: 500ms;
        }
    }

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 22px;
        margin-top: 50px;

        & > * {
            margin: 0 !important;
        }
    }

    &-thanks {
        width: 300px;
        display: grid;
        grid-row-gap: 40px;
        position: absolute;
        left: calc( ( 100vw - 1592px ) / 2 );
        transform: translateX(100vw);
        transition: 500ms;

        @media (max-width: 1800px) {
            left: 10%;
        }

        &--active {
            transform: translateX(0);
            transition: 500ms;
        }

    }
}

.modal-plan {

    .modal__content {
        width: 90%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5vw;
        padding-right: 8%;
    }

    .modal__left {
        margin-left: calc( ( 100vw - 1592px ) / 2 );
        @media (max-width: 1800px) {
            margin-left: 10%;
        }
    }

    &__ul {
        margin: 43px 0 70px;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }

    &__li {
        font-size: 19px;
        line-height: 28px;
        color: #7C7781;
    }

    &__indicators {
        font-weight: bold;
    }

    &__back {
        font-weight: 600;
        font-size: 19px;
        line-height: 27px;
        color: #FFB52E;
        background: transparent;
        cursor: pointer;
        margin-bottom: 24px;

        &:before {
            content: "";
            width: 18px;
            height: 18px;
            transform: translateY(2px);
            background-image: url(../img/arror-orange-left.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-right: 7px;
            display: inline-block;
        }
    }
}

.modal-thanks {

    transform: translate(0vw, 100vw);
    @media (max-width: 1024px) {
        transform: translateY(120vw);
    }
    @media (max-width: 768px) {
        transform: translateY(190vw);
    }

    &.modal--active {
        transform: translate(0);
    }

    & .modal__close {
        top: 50px;
        right: 50px;
        filter: brightness(2);
    }
}
