.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: 500ms;
    transform: translateX(-100%);
    z-index: 100;

    &--active {
        transform: translateX(0);
        transition: 500ms;

        .modal__background {
            transition: 500ms;
            opacity: 0.8;
            box-shadow: 20px 0 40vw 40vw #61bdb5;
        }
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #61BDB5;
        opacity: 0;
        cursor: pointer;
        transition: 500ms;
        box-shadow: 20px 0 20px 20px #61BDB5ff;
    }

    &__content {
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        clip-path: ellipse(100% 120% at 0 50%);
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__close {
        position: absolute;
        top: 50px;
        right: 150px;
        cursor: pointer;
    }
}

.modal-request {

    &__form {
        width: 50%;
        min-width: 600px;
        margin-left: calc( ( 100vw - 1592px ) / 2 );
        transform: translateX(-100vw);
        transition: 500ms;
        @media (max-width: 1800px) {
            margin-left: 10%;
        }

        &--active {
            transform: translateX(0);
            transition: 500ms;
        }
    }

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 22px;
        margin-top: 50px;

        & > * {
            margin: 0 !important;
        }
    }

    &-thanks {
        width: 300px;
        display: grid;
        grid-row-gap: 40px;
        position: absolute;
        left: calc( ( 100vw - 1592px ) / 2 );
        transform: translateX(100vw);
        transition: 500ms;

        @media (max-width: 1800px) {
            left: 10%;
        }

        &--active {
            transform: translateX(0);
            transition: 500ms;
        }

    }
}
