.pay {
    margin-top: 130px;

    &__header {
        display: grid;
        grid-template-columns: 600px 1fr;
        grid-gap: 50px;
        margin-bottom: 80px;
        @media (max-width: 1440px) {
            grid-template: auto auto / 1fr;
        }
    }

    &__tabs {

        &-headers {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 56px;
            padding: 0 calc(56px / 2);
            margin: 0 calc(-56px / 2);
            margin-right: auto;
            @media (max-width: 768px) {
                grid-gap: 2vw;
                padding: 0;
                margin: 0;
            }
        }

        &-border {
            display: inline-block;
            position: absolute;
            width: calc((100% / 3) - 56px);
            height: 4px;
            background: #ffb52e;
            border-radius: 10px;
            bottom: 0;
            transition: 300ms;

            &--1 {
                left: calc(56px / 2);
            }

            &--2 {
                left: 50%;
                transform: translateX(-50%);
            }

            &--3 {
                transform: translateX(-100%);
                left: calc(100% - 28px);
            }
        }

        &-header {
            text-align: center;
            font-weight: normal;
            font-size: 19px;
            line-height: 27px;
            color: #7C7781;
            cursor: pointer;
            padding: 15px;
            @media (max-width: 768px) {
                padding: 10px 0;
                font-size: 14px;
            }

            &--active {
                font-weight: 600;
                color: #413949;
            }
        }
    }

    &__tab {
        grid-template-columns: 11fr 9fr;
        grid-gap: 50px;
        visibility: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        @media (max-width: 1024px) {
            grid-template: 50vw 70vw / 1fr;
        }

        &--active {
            visibility: visible;
            top: 0;
            display: grid;
            opacity: 1;
            transition: 600ms;
        }

        &-text {
            position: absolute;

            &-p {
                width: 280px;
                margin-top: 15px;
            }
        }

        &-bubble {
            width: 503px;
            height: 489px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(../img/pay__tab-bubble--2.svg);
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            @media (max-width: 1024px) {
                left: auto;
            }
            @media (max-width: 768px) {
                transform: scale(0.9);
                left: -40vw;
                top: 530px;
            }

            &-p {
                margin: 0 90px 30px 90px;
            }

            &--1 {
                top: 0;
                bottom: auto;
                @media (max-width: 1440px) {
                    transform: translateX(-5vw) scale(0.9);
                }
                @media (max-width: 768px) {
                    transform: translateX(0vw) scale(.8);
                }
            }

        }

        &--1 {
            grid-template-columns: 3fr 3fr 4fr;
            @media (max-width: 1024px) {
                grid-template: auto 570px/1fr 1fr;
            }
            @media (max-width: 768px) {
                display: block;
            }
        }

        &-list {
            height: 750px;
            position: relative;
            @media (max-width: 1024px) {
                height: 1200px;
            }
        }
    }

    &__left {
        @media (max-width: 1024px) {
            object-position: left;
        }

    }

    &__right {
        position: relative;

        &--1 {
            @media (max-width: 1024px) {
                grid-area: 2 / 1 / 3 / 3;
            }
        }

        &--3 {
            transform: translateY(0) !important;
            opacity: 1 !important;
    }
}

    &__range {
        width: 96%;
        margin-left: 2%;
    }

&__payment {
}

&__banks {
    margin-top: 60px;
    display: grid;
    grid-gap: 13px;
}

&__bank {
    display: flex;
    align-items: center;

    &-a {
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        color: #413949;
        width: 100%;
        display: flex;
        align-items: center;

        &--spoiler {
            font-weight: 600;
            font-size: 19px;
            line-height: 30px;
            color: #FFB52E;
        }

        &:before {
            content: '';
            display: inline-block;
            width: 62px;
            height: 62px;
            background: #FFFFFF;
            box-shadow: 0 20px 60px #F0F0F0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px auto;
            border-radius: 50%;
            margin-right: 32px;
        }

        &--1 {
            &:before {
                background-image: url(../img/pay__bank--1.svg);
            }
        }

        &--2 {
            &:before {
                background-image: url(../img/pay__bank--2.svg);
            }
        }

        &--3 {
            &:before {
                background-image: url(../img/pay__bank--3.svg);
            }
        }

        &--4 {
            &:before {
                background-image: url(../img/pay__bank--4.svg);
            }
        }

        &--spoiler {
            &:before {
                background-image: url(../img/pay__bank--spoiler.svg);
            }
        }
    }
}

&__form {
    display: grid;
    grid-gap: 40px;
    grid-template-rows: repeat(auto-fit, 110px);
    @media (max-width: 768px) {
        margin-top: 11vw;
    }

    &-btn {
        margin: auto auto auto 0;
    }
}

&__h3,
&__p,
&__form,
&__right,
&__bank {
    transform: translateY(50px);
    opacity: 0;
}
&__right--2 {
    transform: none;
    opacity: 1;
}
}

.noUi-horizontal {
    width: calc( 100% - 10px );
    margin-left: 5px;
    height: 3px;
    background: $gray-100;
    position: relative;
    transform: translateY(-4px);
    border: none;

    .noUi-base, .noUi-connects {
        height: 100%;
        position: relative;
        z-index: 1;
    }
    .noUi-origin {
        will-change: transform;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
        transform-origin: 0 0;
        transform-style: flat;
        width: 10%;
        height: 0;
    }
    .noUi-handle {
        width: 30px;
        height: 30px;
        right: -15px;
        top: -14px;
        position: absolute;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 8px 25px #E8E5E3;
        &:before, &:after {
            display: none;
        }
    }
    .noUi-touch-area {
        height: 14px;
        width: 14px;
        border-radius: 100%;
        background: #FFB52E;
        box-shadow: 0px 10px 25px #EEEEEE;
    }
    .noUi-connect {
        will-change: transform;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
        transform-origin: 0 0;
        transform-style: flat;
        height: 100%;
        width: 100%;
        background: #FFB52E;
    }
}
