.pay {
    margin-top: 130px;
    @media (max-width: $_media_mobile) {
        margin-top: 0;
        padding: $_verticalPadding 0;
    }

    &__header {
        display: grid;
        grid-template-columns: 600px 1fr;
        grid-gap: 50px;
        margin-bottom: 80px;
        @media (max-width: $_media_laptop_4) {
            grid-template: auto auto / 1fr;
        }

        @media (max-width: $_media_mobile) {
            grid-gap: $_titleBottom;
            margin-bottom: 40px;
        }
    }

    &__tabs {

        &-headers {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 56px;
            padding: 0 calc(56px / 2);
            margin: 0 calc(-56px / 2);
            margin-right: auto;
            @media (max-width: $_media_mobile) {
                grid-gap: 2vw;
                padding: 0;
                margin: 0;
            }
        }

        &-border {
            display: inline-block;
            position: absolute;
            width: calc((100% / 3) - 56px);
            height: 4px;
            background: $_orange;
            border-radius: 10px;
            bottom: 0;
            transition: 300ms;

            &--1 {
                left: calc(56px / 2);
            }

            &--2 {
                left: 50%;
                transform: translateX(-50%);
            }

            &--3 {
                transform: translateX(-100%);
                left: calc(100% - 28px);
            }
        }

        &-header {
            text-align: center;
            font-weight: normal;
            font-size: 19px;
            line-height: 27px;
            color: $_gray;
            cursor: pointer;
            padding: 15px;
            @media (max-width: $_media_mobile) {
                padding: 10px 0;
                font-size: 14px;
            }

            &--active {
                font-weight: 600;
                color: $_dark;
            }
        }
    }

    &__tab {
        grid-template-columns: minmax(0, 11fr) minmax(0, 9fr);
        grid-gap: 50px;
        @media (max-width: $_media_laptop) {
            grid-template: max(40vw,370px) auto/1fr;
        }
        @media (max-width: $_media_mobile) {
            margin-bottom: 30px;
        }

        &--active {
            display: grid;
            transition: 600ms;
            &.pay__tab--1 {
                margin-bottom: 130px;
                @media (max-width: $_media_mobile) {
                    display: flex;
                    margin-bottom: 0;
                }
            }
        }

        &--animate {
            animation: pay-animation 500ms;
        }

        &.was-animated {
            &, & * {
                animation: pay-animation 0ms !important;
                opacity: 1;
                transform: none;
            }
        }

        &-text {
            &-p {
                width: 280px;
                margin-top: 15px;
            }
        }

        &-bubble {
            width: 503px;
            height: 489px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(../img/pay__tab-bubble--2.svg);
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            position: relative;
            @media (max-width: $_media_laptop) {

            }
            @media (max-width: $_media_mobile) {
                transform: translate(-70%, 0vw) scale(.9);
                left: 50%;
            }

            &-p {
                margin: 0 90px 30px 90px;
            }

            &--1 {
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
                @media (max-width: $_media_laptop_4) {
                    transform: translateX(0) scale(0.9);
                }
                @media (max-width: $_media_mobile) {
                    transform: translate(-25vw) scale(.8);
                }
            }

        }

        &--1 {
            grid-template-columns: 3fr 3fr 4fr;
            @media (max-width: $_media_laptop_3) {
                grid-template: auto 570px/1fr 1fr;
            }
            @media (max-width: $_media_mobile) {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
            }
        }

        &-list {
            height: auto;
            position: relative;
        }
    }

    &__left {
        position: relative;
        @media (max-width: $_media_laptop) {
            object-position: left;
            transform: scale(0.8);
        }
        @media (max-width: $_media_479) {
            transform: translateX(-60px) scale(0.8);
        }

        &--bg {
            pointer-events: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;

            @media (max-width: $_media_laptop) {
                right: 50%;
                transform: translateX(80%);
                width: 25vw;
            }
        }

        &--img {
            max-width: 100%;
        }
    }

    &__right {
        position: relative;

        &--1 {
            @media (max-width: $_media_laptop_3) {
                grid-area: 2 / 1 / 3 / 3;
            }
        }

        &--2 {
            margin: 120px 0;
            @media (max-width: $_media_mobile) {
                margin: 0;
            }
        }

        &--3 {
            margin: 120px 0;
            transform: translateY(0) !important;
            opacity: 1 !important;
            @media (max-width: $_media_mobile) {
                margin: 0;
            }
    }
}

    &__range {
        width: 96%;
        margin-left: 2%;
    }

&__payment {
}

&__banks {
    margin-top: 60px;
    display: grid;
    grid-gap: 13px;
}

&__bank {
    display: flex;
    align-items: center;

    &-a {
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        color: $_dark;
        width: 100%;
        display: flex;
        align-items: center;

        &--spoiler {
            font-weight: 600;
            font-size: 19px;
            line-height: 30px;
            color: $_orange;
        }

        &:before {
            content: '';
            display: inline-block;
            width: 62px;
            height: 62px;
            background: $bodyBackground;
            box-shadow: 0 20px 60px $_grayLight;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px auto;
            border-radius: 50%;
            margin-right: 32px;
        }

        &--1 {
            &:before {
                background-image: url(../img/pay__bank--1.svg);
            }
        }

        &--2 {
            &:before {
                background-image: url(../img/pay__bank--2.svg);
            }
        }

        &--3 {
            &:before {
                background-image: url(../img/pay__bank--3.svg);
            }
        }

        &--4 {
            &:before {
                background-image: url(../img/pay__bank--4.svg);
            }
        }

        &--spoiler {
            &:before {
                background-image: url(../img/pay__bank--spoiler.svg);
            }
        }
    }
}

&__form {
    display: grid;
    grid-gap: 40px;
    grid-template-rows: repeat(auto-fit, 110px);
    @media (max-width: $_media_mobile) {
        margin-top: 11vw;
    }

    &-btn {
        margin: auto auto auto 0;
    }
}

&__h3,
&__p,
&__form,
&__right,
&__bank {
    transform: translateY(50px);
    opacity: 0;
}
&__right--2 {
    transform: none;
    opacity: 1;
}
}

.noUi-horizontal {
    width: calc( 100% - 16px );
    margin-left: 8px;
    height: 3px;
    background: $gray-100;
    position: relative;
    transform: translateY(-3px);
    border: none;

    .noUi-base, .noUi-connects {
        height: 100%;
        position: relative;
        z-index: 1;
        background: #d3d3d3;
    }
    .noUi-origin {
        will-change: transform;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
        transform-origin: 0 0;
        transform-style: flat;
        width: 10%;
        height: 0;
    }
    .noUi-handle {
        width: 30px;
        height: 30px;
        right: -15px;
        top: -14px;
        position: absolute;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bodyBackground;
        box-shadow: 0px 8px 25px #E8E5E3;
        cursor: pointer;
        border: none;
        &:before, &:after {
            display: none;
        }
    }
    .noUi-touch-area {
        height: 14px;
        width: 14px;
        border-radius: 100%;
        background: $_orange;
        box-shadow: 0px 10px 25px #EEEEEE;
    }
    .noUi-connect {
        will-change: transform;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
        transform-origin: 0 0;
        transform-style: flat;
        height: 100%;
        width: 100%;
        background: $_orange;
    }
    .noUi-handle:after, .noUi-handle:before {
        display: none;
    }
}

.pay__tab {
    display: none;

    &--active {
        display: grid;
        &.pay__tab--1 {
            @media (max-width: $_media_mobile) {
                display: flex;
            }
        }
    }
}
