.header {
    display: none !important;
}

.plans {
    margin-top: 130px;

    &__header {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 50px;
        margin-bottom: 80px;

        &-bottom {
            display: grid;
            grid-template-columns: 500px 1fr 1fr;
            grid-gap: 50px;
        }
    }

    &__tabs {

        &-headers {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin: 0 auto;

            &--porch {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &-border {
            display: inline-block;
            position: absolute;
            width: calc((100% / 2) - 56px);
            height: 4px;
            background: #ffb52e;
            border-radius: 10px;
            bottom: 0;
            transition: 300ms;

            &--1 {
                left: calc(56px / 2);
            }

            &--2 {
                transform: translateX(-100%);
                left: calc(100% - 28px);
            }
        }

        &-header {
            font-weight: 600;
            font-size: 19px;
            line-height: 27px;
            border-radius: 10px;
            cursor: pointer;
            padding: 15px 30px;
            transition: 300ms;
            color: #413949;
            box-shadow: 0 20px 60px #F0F0F0;
            background: #FFFFFF;
            text-align: center;
            margin: auto;

            &--active {
                color: #FFFFFF;
                background: #FFB52E;
                transition: 300ms;
            }
        }
    }

    &__tab {
        visibility: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;

        &-list {
            position: relative;
        }
    }
}

.plan__tab--active-liter.plan__tab--active-porch {
    visibility: visible;
    top: 0;
    display: grid;
    opacity: 1;
    transition: 600ms;
}
