.plans {
    padding: 130px 0 100px;
    background: $_light2;
    clip-path: ellipse(115% 50% at 50% 50%);
    @media (max-width: $_media_mobile) {
        clip-path: ellipse(145% 50% at 50% 50%);
    }

    &__header {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 50px;
        margin-bottom: 80px;

        &-bottom {
            display: grid;
            grid-template-columns: 500px 1fr 490px;
            grid-gap: 50px;
            @media (max-width: $_media_laptop_4) {
                grid-template-columns: 1fr auto;
                grid-gap: 3vw;
            }
        }

        &-p {
            @media (max-width: $_media_laptop_4) {
                grid-area: 1 / 1 / 3 / 2;
            }
            @media (max-width: $_media_mobile) {
                grid-area: 1 / 1 / 2 / 3;
            }
        }
    }

    &__tabs {

        &-headers {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin: 0 auto;

            &--liter {
                @media (max-width: $_media_laptop_4) {
                    grid-area: 1 / 2 / 2 / 3;
                    margin: 0;
                }
                @media (max-width: $_media_mobile) {
                    grid-area: 2 / 1 / 3 / 3;
                }
            }

            &--porch {
                grid-gap: 0;
                grid-template-columns: repeat(3, 1fr);
                @media (max-width: $_media_laptop_4) {
                    grid-area: 2 / 2 / 3 / 3;
                    margin: 0;
                }
                @media (max-width: $_media_mobile) {
                    grid-area: 3 / 1 / 4 / 3;
                    display: grid;
                    justify-content: center;
                    grid-template: auto auto / repeat(auto-fill, minmax(0, 173px));
                    margin: 0 auto;
                }

                & .plans__tabs-header {
                    padding: 0;
                    background: transparent;
                    box-shadow: none;
                    width: auto;
                }

                & path {
                    cursor: pointer;
                }
            }
        }

        &-border {
            display: inline-block;
            position: absolute;
            width: calc((100% / 2) - 56px);
            height: 4px;
            background: $_orange;
            border-radius: 10px;
            bottom: 0;
            transition: 300ms;

            &--1 {
                left: calc(56px / 2);
            }

            &--2 {
                transform: translateX(-100%);
                left: calc(100% - 28px);
            }
        }

        &-header {
            white-space: pre;
            width: 100%;
            font-weight: 600;
            font-size: 19px;
            line-height: 27px;
            border-radius: 10px;
            cursor: pointer;
            padding: 1vw 2vw;
            transition: 300ms;
            color: $_dark;
            box-shadow: 0 20px 60px $_grayLight;
            background: $bodyBackground;
            text-align: center;
            margin: auto;
            &.only-desktop {
                stroke: $_light;
            }

            &-p {
                fill: #413949;
                &--active {
                    fill: white
                }
            }

            & text {
                fill: #413949;
            }

            &--active {
                color: $bodyBackground;
                background: $_orange;
                transition: 300ms;
                fill: $_orange;
                & path {
                    fill: $_orange;
                }
                & text {
                    fill: white
                }
            }
        }
    }

    &__tab {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        overflow: auto;

        &-wrapper {
            position: relative;
            min-width: 600px;
        }

        &-list {
            position: relative;
            height: min(600px, 50vw);
            margin-top: 75px;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: contain;
        }

        &-svg {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;

            & path {
                opacity: 0;
                transition: 300ms;
                &:hover {
                    opacity: 0.8;
                    transition: 300ms;
                    cursor: pointer;
                }
            }
        }

        &--active {
            visibility: visible;
            top: 0;
            display: grid;
            opacity: 1;
            transition: 600ms;
        }
    }
}
