.price {
    display: flex;
    margin: 260px auto 310px;
    position: relative;
    @media (max-width: $_media_laptop) {
        margin: 100px auto 200px;
    }
    @media (max-width: $_media_mobile) {
        display: grid;
        grid-template: auto auto / 1fr;
        grid-gap: 10vw;
    }

    &__left, &__right {
        width: 50%;
        height: 100%;
        @media (max-width: $_media_mobile) {
            width: 100%;
        }
    }

    &__left {
    }

    &__p {
        margin: 21px 0 42px;
    }

    &__right {
        height: 45vw;
        width: 45%;
        position: absolute;
        right: 0;
        top: -340px;
        @media (max-width: $_media_laptop) {
            top: 60px;
        }
        @media (max-width: $_media_mobile) {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            width: 100%;
        }
    }

    &__img, &__spot--over, &__spot--under, &__line {
        position: absolute;
        transform: translateY(50px);
        opacity: 0;
    }

    &__img {
        z-index: 3;
        left: 10%;
        width: calc( 100% + 15vw );
    }
    &__spot--over {
        z-index: 4;
        bottom: -30px;
        right: 0;
        @media (max-width: $_media_laptop) {
            bottom: -70px;
            width: 20vw;
        }
    }
    &__spot--under {
        z-index: 1;
        top: 6vw;
        left: -4vw;
        @media (max-width: $_media_laptop) {
            top: -8vw;
            left: -4vw;
            width: 50vw;
        }
        @media (max-width: $_media_mobile) {
            top: -28vw;
        }
    }
    &__line {
        z-index: 2;
        bottom: 0;
        left: -10vw;
        pointer-events: none;
        @media (max-width: $_media_laptop) {
            left: -5vw;
            width: 60vw;
        }
        @media (max-width: $_media_mobile) {
            left: 25vw;
            width: 40vw;
        }
    }
}
