.report {
    margin-top: 130px;
    margin-bottom: 150px;
    padding: 0;

    &__header {
        display: grid;
        grid-template-columns: 600px 1fr;
        grid-gap: 50px;
        @media (max-width: $_media_laptop) {
            grid-template: auto / auto;
            padding: 0;
            margin-bottom: 0;
        }
    }

    &__tabs {

        &-headers {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 56px;
            padding: 0 calc(56px / 2);
            margin: 0 calc(-56px / 2);
            margin-right: auto;
        }

        &-border {
            display: inline-block;
            position: absolute;
            width: calc((100% / 2) - 56px);
            height: 4px;
            background: $_orange;
            border-radius: 10px;
            bottom: 0;
            transition: 300ms;

            &--1 {
                left: calc(56px / 2);
            }

            &--2 {
                transform: translateX(-100%);
                left: calc(100% - 28px);
            }
        }

        &-header {
            text-align: center;
            font-weight: normal;
            font-size: 19px;
            line-height: 27px;
            color: $_gray;
            cursor: pointer;
            padding: 15px;

            &--active {
                font-weight: 600;
                color: $_dark;
            }
        }
    }

    &__tab {
        visibility: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        padding-left: calc((100% - 1592px)/2);
        @media (max-width: $_media_4K) {
            padding-left: 5%;
        }

        &--active {
            visibility: visible;
            top: 0;
            display: grid;
            opacity: 1;
            transition: 600ms;
        }

        &-text {
            position: absolute;

            &-p {
                width: 280px;
                margin-top: 15px;
            }
        }

        &-bubble {
            width: 503px;
            height: 489px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(../img/pay__tab-bubble--2.svg);
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;

            &-p {
                margin: 0 90px 30px 90px;
            }

            &--1 {
                top: 0;
                bottom: auto;
            }

        }

        &-list {
            height: calc( 60px +  440px + 50px + 60px );
            position: relative;

            @media (max-width: $_media_4K) {
                height: calc( 23vw + 230px );
            }
            @media (max-width: $_media_laptop_2) {
                height: calc( 33vw + 175px );
            }
            @media (max-width: $_media_mobile) {
                height: calc( 70vw + 170px ) !important;
            }
            @media (max-width: $_media_479) {
                height: calc( 90vw + 150px ) !important;

            }
        }
    }

    &__left {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &--2 {
            background-image: url(../img/pay__left--2.png);
        }

        &--3 {
            background-image: url(../img/pay__left--3.png);
        }
    }

    &__right {
        position: relative;
    }

    &__payment {
    }

    &__banks {
        margin-top: 60px;
        display: grid;
        grid-gap: 13px;
    }

    &__bank {
        display: flex;
        align-items: center;

        &-a {
            font-weight: normal;
            font-size: 19px;
            line-height: 30px;
            color: $_dark;
            width: 100%;
            display: flex;
            align-items: center;

            &--spoiler {
                font-weight: 600;
                font-size: 19px;
                line-height: 30px;
                color: $_orange;
            }

            &:before {
                content: '';
                display: inline-block;
                width: 62px;
                height: 62px;
                background: $bodyBackground;
                box-shadow: 0 20px 60px $_grayLight;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 20px auto;
                border-radius: 50%;
                margin-right: 32px;
            }

            &--1 {
                &:before {
                    background-image: url(../img/pay__bank--1.svg);
                }
            }

            &--2 {
                &:before {
                    background-image: url(../img/pay__bank--2.svg);
                }
            }

            &--3 {
                &:before {
                    background-image: url(../img/pay__bank--3.svg);
                }
            }

            &--4 {
                &:before {
                    background-image: url(../img/pay__bank--4.svg);
                }
            }

            &--spoiler {
                &:before {
                    background-image: url(../img/pay__bank--spoiler.svg);
                }
            }
        }
    }

    &__form {
        display: grid;
        grid-gap: 40px;
        grid-template-rows: repeat(auto-fit, 110px);

        &-btn {
            margin: auto auto auto 0;
        }
    }

    &__galeries {
        display: none;
    }
}



