.header {
    display: none !important;
}

.swiper {

    &-container {
        margin-top: 60px;
        margin-left: calc((100% - 1592px) / 2);
        width: calc(100% - ((100% - 1592px) / 2));
        height: 575px;
        @media (max-width: 1800px) {
            margin-left: 5%;
            width: 95%;
            height: 520px;
        }

        &--2 {
            height: 480px;
            padding-bottom: 150px;
            @media (max-width: 1800px) {
                height: 300px;
                padding-bottom: 0;
            }
        }

        &--3 {
            height: 850px;
            padding-bottom: 150px;
            @media (max-width: 1800px) {
                height: 690px;
            }
        }
    }

    &-button-next {
        transform: translateX(-5vw);
    }

    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        &-bullet {
            width: 7px;
            height: 7px;
            background: #E0E0E0;
            opacity: 0.5;
            margin: 0 22px !important;
            cursor: pointer;

            &-active {
                width: 14px;
                height: 14px;
                background: #FFFFFF;
            }
        }
    }
}

.good {
    padding: 160px 0;
    background: #61BDB5;
    clip-path: ellipse(115% 50% at 50% 50%);

    &__header {
        display: grid;
        grid-template-columns: 460px 1fr;
        grid-gap: calc(100vw / 12);
        padding-right: calc(100vw / 12);
        align-items: center;
    }

    &-slider {
        &__img {
            height: 65%;
            margin-bottom: 20px;
        }
    }
}

.actual {
    padding: 160px 0;
    background: #F9FAFA;
    clip-path: ellipse(115% 50% at 50% 50%);

    &__title-h3 {
        margin-bottom: 32px;
    }

    &__text {
        margin: 15px 0 32px;
    }

    .swiper-pagination-bullet-active {
        background: #FFB52E;
        opacity: 1;
    }

    .swiper-button-prev,
    .swiper-button-next {
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: #FFB52E;

        &:after {
            transform: scale(0.4);
            color: #ffffff;
        }
    }
}

.near {
    padding: 160px 0;
    background: #FDFDFD;

    .swiper-button-prev,
    .swiper-button-next {
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: #FFB52E;

        &:after {
            transform: scale(0.4);
            color: #ffffff;
        }
    }
}
