.swiper {

    &-container {
        margin-top: 60px;
        margin-left: calc((100% - 1592px) / 2);
        width: calc(1592px * 1.5);
        height: min(40vw, 640px);
        overflow: visible;
        @media (max-width: 1800px) {
            margin-left: 5%;
            width: 110vw;
            height: 520px;
        }
        @media (max-width: 1200px) {
            width: 95%;
        }
        @media (max-width: 768px) {
            width: 90%;
        }

        &--1 {
            height: min(40vw, 800px);
            @media (max-width: 1024px) {
                height: 45vw;
            }
            @media (max-width: 1024px) {
                height: 55vw;
            }
            @media (max-width: 768px) {
                height: 130vw;
            }
        }

        &--2 {
            height: 480px;
            padding-bottom: 150px;
            @media (max-width: 1800px) {
                height: 21vw;
                padding-bottom: 0;
            }
            @media (max-width: 1024px) {
                height: 35vw;
            }
            @media (max-width: 768px) {
                height: 46vh;
            }
        }

        &--3 {
            height: 850px;
            padding-bottom: 150px;
            @media (max-width: 1800px) {
                height: 52vw;
                padding: 0;
            }
            @media (max-width: 1200px) {
                height: 56vw;
            }
            @media (max-width: 1024px) {
                height: 650px;
            }
            @media (max-width: 768px) {
                height: calc( 400px + 60vw );
            }
        }
    }

    &-button-next {
        transform: translateX(-19vw);
        @media (max-width: 1200px) {
            transform: translateX(-2vw);
        }
    }

    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(calc( -5vw / 2 ));
        width: 95vw !important;
        @media (max-width: 1800px) {
            transform: translateX(calc( -5vw / 2 ));
        }

        &-bullet {
            width: 7px;
            height: 7px;
            min-width: 7px;
            min-height: 7px;
            max-width: 7px;
            max-height: 7px;
            background: #E0E0E0;
            opacity: 0.5;
            margin: 0 22px !important;
            cursor: pointer;

            &-active {
                width: 14px;
                height: 14px;
                min-width: 14px;
                min-height: 14px;
                max-width: 14px;
                max-height: 14px;
                background: #FFFFFF;
            }
        }
    }

    &-button-prev {
        transform: translateX(-45px);
    }
}

.good {
    position: relative;
    clip-path: ellipse(115% 52%);

    &__wrapper {
        padding: 160px 0;
        background: #61BDB5;
        clip-path: ellipse(115% 50% at 50% 50%);
        position: relative;
        z-index: 1;
    }

    &__header {
        display: grid;
        grid-template-columns: 32vw 1fr;;
        grid-gap: calc(100vw / 12);
        padding-right: calc(100vw / 12);
        align-items: center;
        @media (max-width: 1440px) {
            grid-gap: 50px;
            padding-right: 0;
        }
        @media (max-width: 1024px) {
            grid-template: auto / auto;
            padding: 0;
        }
    }

    &-slider {
        &__img {
            height: 23vw;
            margin-bottom: 20px;
            min-width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px 30px 30px 0;
            @media (max-width: 1024px) {
                height: 33vw;
            }
            @media (max-width: 768px) {
                height: 70vw;
            }

            & img {
                margin-bottom: 20px;
            }
        }
    }

    &__line {
        position: absolute;
        right: 10%;
        top: 0;
        pointer-events: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 12.5vw;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: #FFFFFF;
        @media (max-width: 1024px) {
            top: 34%;
        }
        @media (max-width: 768px) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: #43958D;
            transition: 300ms;
        }
    }

    .swiper-button-disabled {
        background: #FFFFFF;
        opacity: 1;

        &:after {
            color: #F3F3F3;
        }
    }

    .swiper-button-prev:hover:after {
        transform: scale(0.4) translateX(-7px);
        transition: 300ms;
    }
    .swiper-button-next:hover:after {
        transform: scale(0.4) translateX(7px);
        transition: 300ms;
    }

}

.actual {
    padding: 160px 0;
    background: #F9FAFA;
    clip-path: ellipse(115% 50% at 50% 50%);

    &__title-h3 {
        margin-bottom: 32px;
    }

    &__text {
        margin: 15px 0 32px;
    }

    &-slider__img {
        height: 23vw;
        min-width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 30px 30px 30px 0;
        @media (max-width: 768px) {
            height: 38vh;
        }

        & img {
            margin-bottom: 20px;
        }
    }

    .swiper-pagination-bullet-active {
        background: #FFB52E;
        opacity: 1;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 13vw;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: #FFB52E;
        @media (max-width: 1024px) {
            top: 25%;
        }
        @media (max-width: 768px) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: #ffffff;
        }
    }
}

.near {
    padding: 160px 0;
    background: #FDFDFD;
    @media (max-width: 768px) {
        padding: 70px 0;
    }


    .swiper-button-prev,
    .swiper-button-next {
        top: 34%;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: #FFB52E;
        @media (max-width: 1024px) {
            top: calc( 130px * 100 * 0.65 / 270 * 2 );
        }
        @media (max-width: 768px) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: #ffffff;
        }
    }

    &-slider {
        &__img {
            height: 13vw;
            min-width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px 30px 30px 0;
            @media (max-width: 1024px) {
                height: 17vw;
            }
            @media (max-width: 768px) {
                height: 30vh;
            }

            & img {
                margin-bottom: 20px;
            }
        }
    }
}

.report {
    padding-top: 160px;
    background: #FDFDFD;

    .swiper-container {
        height: 35vw;
        overflow: hidden;
        @media (max-width: 1024px) {
            height: 50vw;
        }
        @media (max-width: 768px) {
            height: 60vh;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 35%;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: #FFB52E;
        transform: none;
        @media (max-width: 1024px) {
            top: 15vw;
        }
        @media (max-width: 768px) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: #ffffff;
        }
    }

    .swiper-button-next {
        transform: translateX(-19vw);
        @media (max-width: 1200px) {
            transform: translateX(-2vw);
        }
    }

    .swiper-pagination-bullet-active {
        background: #FFB52E;
        opacity: 1;
    }

    &-slide {

        &__h3 {
            position: absolute;
            left: 45px;
            top: 50%;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #413949;
            background: #FFFFFF;
            box-shadow: 0px 20px 60px rgba(100, 100, 100, 0.18);
            border-radius: 16px;
            padding: 14px 32px;
            @media (max-width: 1200px) {
                top: 40%;
            }
            @media (max-width: 1024px) {
                top: 22vw;
            }
        }

        &__bottom {
            display: grid;
            grid-template-columns: repeat(3, max-content);
            grid-gap: 20px;
            &:before {
                content: '';
                display: block;
                background: #E3F0EE;
                width: 1.5px;
                height: 21px;
                order: 1;
                margin: auto;
            }
            & > p:nth-child(1) {
                order: 1
            }
        }
    }

    .good-slider__img {
        height: 31vh;
    }
}

.slide--empty {

    @media (max-width: 768px) {
        display: none;
    }
}
