.swiper {

    &-container {
        margin-top: 60px;
        margin-left: calc((100% - 1592px) / 2) !important;
        width: calc(1592px * 1.5);
        height: auto !important;
        overflow: visible;
        @media (max-width: $_media_4K) {
            margin-left: 5% !important;
            width: 110vw;
        }
        @media (max-width: $_media_laptop_2) {
            width: 95%;
        }
        @media (max-width: $_media_mobile) {
            width: 90%;
            overflow: hidden;
        }

        &--2 {
            height: 480px;
            padding-bottom: 150px;
            @media (max-width: $_media_4K) {
                height: 21vw;
                padding-bottom: 0;
            }
            @media (max-width: $_media_laptop) {
                height: 35vw;
            }
            @media (max-width: $_media_mobile) {
                height: 46vh;
            }
        }

        &--4-1, &--4-2 {
            height: min(40vw, 640px);
            margin-left: 0 !important;
            @media (max-width: $_media_4K) {
                height: 520px;
            }
            @media (max-width: $_media_mobile) {
                width: 95%!important;
            }
        }
    }

    &-button-next {
        transform: translateX(calc( -11vw - 100% - 40px ));
        @media (max-width: $_media_laptop_2) {
            transform: translateX(-2vw);
        }
    }

    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95vw !important;
        padding-top: 90px;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: $_media_mobile) {
            padding-top: 50px;
        }

        &-bullet {
            width: 7px;
            height: 7px;
            min-width: 7px;
            min-height: 7px;
            max-width: 7px;
            max-height: 7px;
            background: #E0E0E0;
            opacity: 0.5;
            margin: 0 22px !important;
            cursor: pointer;
            @media (max-width: $_media_mobile) {
                margin: 0 17px !important;
            }

            &-active {
                width: 14px;
                height: 14px;
                min-width: 14px;
                min-height: 14px;
                max-width: 14px;
                max-height: 14px;
                background: $bodyBackground;
            }
        }

        &--4-1, &--4-2 {
            padding: 0 0 50px 0;
            position: absolute;
            bottom: 0;
            left: 50vw;
            right: auto;
            transform: translateX(-50%);
            margin: 0;
        }
    }

    &-button-prev {
        transform: translateX(-45px);
    }
}

.good {
    position: relative;
    clip-path: ellipse(115% 52%);

    &__wrapper {
        padding: 160px 0;
        background: $_blue;
        clip-path: ellipse(115% 50% at 50% 50%);
        position: relative;
        z-index: 1;
        @media (max-width: $_media_mobile) {
            clip-path: ellipse(145% 50% at 50% 50%);
        }
    }

    &__header {
        display: grid;
        grid-template-columns: 567px 1fr;
        grid-gap: 40px;
        padding-right: calc(100vw / 12);
        align-items: center;
        @media (max-width: $_media_4K) {
            grid-template-columns: calc( 110vw  / 3 - 20px ) 1fr;
        }
        @media (max-width: $_media_laptop_2) {
            grid-template-columns: 50% 1fr;
        }
        @media (max-width: $_media_laptop_4) {
            padding-right: 0;
        }
        @media (max-width: $_media_laptop) {
            grid-template: auto / auto;
            grid-gap: 50px;
            padding: 0;
        }

        &--near {
            grid-template-columns: 560px 1fr;
            grid-gap: 40px;
            @media (max-width: $_media_4K) {
                grid-template-columns: calc( 110vw  / 3 - 20px ) 1fr;
            }
            @media (max-width: $_media_laptop_2) {
                grid-template-columns: calc( 95%  / 3 - 30px ) 1fr;
            }
            @media (max-width: $_media_laptop) {
                grid-template: auto / auto;
            }
        }
    }
    &-header {
        &__title, &__text {
            margin-top: auto;
        }
    }

    &-slider {
        &__img {
            height: 23vw;
            margin-bottom: 20px;
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px 30px 30px 0;
            @media (max-width: $_media_laptop) {
                height: 33vw;
            }
            @media (max-width: $_media_mobile) {
                height: 70vw;
            }

            & img {
                margin-bottom: 20px;
            }
        }
    }

    &__line {
        position: absolute;
        right: 10%;
        top: 0;
        pointer-events: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 11.5vw;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: $bodyBackground;
        @media (max-width: $_media_laptop) {
            top: 34%;
        }
        @media (max-width: $_media_mobile) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: #43958D;
            transition: 300ms;
        }
    }

    .swiper-button-next {
        right: auto;
        left: 1592px;
        transform: translateX(-70%);
        @media (max-width: $_media_4K) {
            left: 90vw;
        }
    }

    .swiper-button-disabled {
        background: $bodyBackground;
        opacity: 1;

        &:after {
            color: $_light;
        }
    }

    .swiper-button-prev:hover:after {
        transform: scale(0.4) translateX(-7px);
        transition: 300ms;
    }
    .swiper-button-next:hover:after {
        transform: scale(0.4) translateX(7px);
        transition: 300ms;
    }

}

.actual {
    padding: 160px 0;
    background: $_light2;
    clip-path: ellipse(115% 50% at 50% 50%);

    @media (max-width: $_media_mobile) {
        clip-path: ellipse(145% 50% at 50% 50%);
    }

    &__title-h3 {
        margin: 30px 0 15px 0;
    }

    &__text {
        margin-bottom: 32px;
    }

    &-slider__img {
        max-width: 100%;
        height: 23vw;
        min-width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 30px 30px 30px 0;
        @media (max-width: $_media_mobile) {
            height: 38vh;
        }

        & img {
            margin-bottom: 20px;
        }
    }

    .swiper-pagination-bullet-active {
        background: $_orange;
        opacity: 1;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: calc( 11.5vw - 14px );
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: $_orange;
        @media (max-width: $_media_mobile) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: $bodyBackground;
        }
    }

    .swiper-button-next {
        right: auto;
        left: 1592px;
        transform: translateX(-70%);
        @media (max-width: $_media_4K) {
            left: 90vw;
        }
    }
}

.near {
    padding: 140px 0 100px 0;
    background: $_light3;
    @media (max-width: $_media_mobile) {
        padding: 70px 0;
    }

    &__h2 {
        margin-top: auto;
    }

    &__map {
        height: min( 730px, 90vh );
        transition: 300ms;
        z-index: -10;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        box-sizing: content-box;
        & > * {
            border-radius: 46px;
            overflow: hidden;
        }
        &--active {
            position: relative;
            opacity: 1;
            visibility: visible;
            padding: 50px 0 0;
            transition: 300ms;
            z-index: 10;
            animation: near__map--open 700ms;
        }
        &--un-active {
            height: 0;
            position: relative;
            transition: 300ms;
            z-index: -10;
            visibility: hidden;
            opacity: 0;
            padding: 0;
            animation: near__map--close 700ms;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: calc( 6.5vw - 14px);
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: $_orange;
        @media (max-width: $_media_laptop) {
            top: calc( 8.5vw - 14px);
        }
        @media (max-width: $_media_mobile) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: $bodyBackground;
        }
    }

    .swiper-button-next {
        right: auto;
        left: 1592px;
        transform: translateX(-70%);
        @media (max-width: $_media_4K) {
            left: 90vw;
        }
    }

    &-slider {
        &__img {
            height: 13vw;
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px 30px 30px 0;
            @media (max-width: $_media_laptop) {
                height: 17vw;
            }
            @media (max-width: $_media_mobile) {
                height: 30vh;
            }

            & img {
                margin-bottom: 20px;
            }
        }
    }
}

.report {
    padding-top: 160px;
    background: $_light3;

    .swiper-container {
        height: 35vw;
        overflow: hidden;
        @media (max-width: $_media_laptop) {
            height: 50vw;
        }
        @media (max-width: $_media_mobile) {
            height: 60vh;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: calc( 50% - 25px );
        transform: translateY(-50%);
        border-radius: 50%;
        width: 68px;
        height: 68px;
        background: $_orange;
        @media (max-width: $_media_mobile) {
            display: none;
        }

        &:after {
            transform: scale(0.4);
            color: $bodyBackground;
        }
    }

    .swiper-button-prev {
        left: calc((100% - 1592px)/2);
        transform: translate(-50%, -50%);

        @media (max-width: $_media_4K) {
            left: 5vw;
        }
    }

    .swiper-button-next {
        left: calc((100% - 1592px)/2 + 1592px);
        transform: translateY(-50%) translateX(-70%);

        @media (max-width: $_media_4K) {
            transform: translateY(-50%);
            left: 90vw;
        }
    }

    .swiper-pagination-bullet-active {
        background: $_orange;
        opacity: 1;
    }

    &-slide {

        &__h3 {
            position: absolute;
            left: 45px;
            bottom: 45px;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: $_dark;
            background: $bodyBackground;
            box-shadow: 0px 20px 60px rgba(100, 100, 100, 0.18);
            border-radius: 16px;
            padding: 14px 32px;
        }

        &__top {
            position: relative;
            margin-bottom: 20px;
        }

        &__bottom {
            display: grid;
            grid-template-columns: repeat(3, max-content);
            grid-gap: 20px;
            &:before {
                content: '';
                display: block;
                background: #E3F0EE;
                width: 1.5px;
                height: 21px;
                order: 1;
                margin: auto;
            }
            & > p:nth-child(1) {
                order: 1
            }
        }
    }

    &-slider {
        &__img {
            height: 23vw;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px 30px 30px 0;
            @media (max-width: $_media_laptop_2) {
                height: 30vw;
            }
            @media (max-width: $_media_laptop) {
                height: 33vw;
            }
            @media (max-width: $_media_mobile) {
                height: 70vw;
            }

            & img {
                margin-bottom: 20px;
            }
        }
    }

    .good-slider__img {
        height: 31vh;
    }
}

.slide--empty {

    @media (max-width: $_media_mobile) {
        display: none;
    }

    &--more-1800 {
        @media (max-width: $_media_4K) {
            display: none;
        }
    }
}

