$pfx: "form-select";

.#{$pfx} {
  display: inline-flex;
  position: relative;
  flex-direction: column;

  label {
    margin-bottom: 0.75rem;
    font-size: $fontSizeBASE;
    line-height: 20px;
    font-weight: 400;
    color: #9AADC6;
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    font-size: $fontSizeMD;
    color: $bodyColorInverse;
    border-radius: $input-border-radius;
    background-color: $bodyBackground;
    width: 100%;
    height: 48px;
    &:after {
      content: "";
      display: flex;
      position: relative;
      transition: transform 0.5s;
      background-image: url("../img/svg/dropdown-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 9px;
      height: 6px;
    }
  }

  &__list {
    opacity: 0;
    z-index: 10;
    display: none;
    overflow: hidden;
    flex-direction: column;
    transform: translateY(40px);
    box-shadow: 0px 4px 15px rgba(57, 86, 124, 0.1);
    transition: transform 0.5s, opacity 0.5s, height 0.5s;
    border-radius: $input-border-radius;
    background-color: $bodyBackground;
    position: absolute;
    width: 100%;
    height: 0px;

    li {
      cursor: pointer;
      padding: 0.5rem 1.25rem;
      font-size: $fontSizeMD;
      color: $bodyColorInverse;
      transition: background-color 0.5s, color 0.5s;
      &:hover {
        background-color: $primaryColor;
        color: $neutralColor;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.active {
    .#{$pfx}__selected {
      &:after {
        transform: rotate(180deg);
      }
    }
    .#{$pfx}__list {
      opacity: 1;
      display: flex;
      overflow: hidden scroll;
      transform: translateY(90px);
      height: fit-content;
      max-height: 220px;
    }
  }
}