.scale-in-center-transform {
    transform: scale(1);
    opacity: 1;
    transition: 300ms;
}

.animation {

    &.infographics {
        .infographics__li--1,
        .infographics__li--2,
        .infographics__li--3,
        .infographics__li--4 {
            animation: scale-in-center $_animation1;
        }

        .infographics__petal--1 {
            animation: scale-in-center-petal--1 $_animation1;
        }

        .infographics__petal--3 {
            animation: scale-in-center-petal--3 $_animation1;
        }

        .infographics__petal--4 {
            animation: scale-in-center-petal--4 $_animation1;
        }

        .infographics__li--1,
        .infographics__li--2,
        .infographics__li--3,
        .infographics__li--4,
        .infographics__petal--1,
        .infographics__petal--3,
        .infographics__petal--4 {
            animation-delay: $_animationDelay;
        }
    }

    &.homeNeed {
        .homeNeed__item {
            animation: fade-in-bottom $_animation2;
            animation-delay: $_animationDelay;
        }
    }

    &.pay {
        .pay__h3,
        .pay__p,
        .pay__bank,
        .pay__form,
        .pay__right--3 {
            animation: fade-in-bottom $_animation2;
            animation-delay: $_animationDelay;
        }
    }

    &.infographics--developer {
        .infographics__li--5,
        .infographics__li--6,
        .infographics__li--7 {
            animation: scale-in-center $_animation1;
        }

        .infographics__petal--6 {
            animation: scale-in-center-petal--6 $_animation1;
        }

        .infographics__petal--7 {
            animation: scale-in-center-petal--7 $_animation1;
        }

        .infographics__li--5,
        .infographics__li--6,
        .infographics__li--7,
        .infographics__petal--6,
        .infographics__petal--7 {
            animation-delay: $_animationDelay;
        }
    }

    &.price {
        .price__img,
        .price__spot--over,
        .price__spot--under,
        .price__line {
            animation: fade-in-bottom $_animation2;
            animation-delay: $_animationDelay;
        }
    }

    &.documents {
        .documents__li {
            animation: fade-in-bottom $_animation2;
            animation-delay: $_animationDelay;
        }
    }
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--1 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(56deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--3 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(145deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--4 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(-41deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--6 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(58deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--7 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(-201deg);
        opacity: 1;
    }
}
