.scale-in-center-transform {
    transform: scale(1);
    opacity: 1;
    transition: 300ms;
}

.infographics {

    &.animation {

        .infographics__li--1,
        .infographics__li--2,
        .infographics__li--3,
        .infographics__li--4 {
            animation: scale-in-center $_animation;
        }
        .infographics__petal--1 {
            animation: scale-in-center-petal--1 $_animation;
        }
        .infographics__petal--3 {
            animation: scale-in-center-petal--3 $_animation;
        }
        .infographics__petal--4 {
            animation: scale-in-center-petal--4 $_animation;
        }

        .infographics__li--1,
        .infographics__li--2,
        .infographics__li--3,
        .infographics__li--4,
        .infographics__petal--1,
        .infographics__petal--3,
        .infographics__petal--4 {
            animation-delay: $_animationDelay;
        }
    }
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--1 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(56deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--3 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(145deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--4 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(-41deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--6 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(58deg);
        opacity: 1;
    }
}

@keyframes scale-in-center-petal--7 {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(-201deg);
        opacity: 1;
    }
}
