// App
//
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: $neutralColor;
    background-color: $bodyBackground;
    font-family: "AvertaCY", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
    overflow-x: hidden; // fix: Некоторые блоки могут выходить за пределы по горизонтале
    background-color: #fdfdfd;
    font-weight: 400;
    line-height: $lineHeight;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1270px;
    width: 100%;
    @media (max-width: 1300px) {
        padding: 0 1rem;
    }
}

svg.inlineIcon {
    fill: currentColor;
    height: 1rem;
}

main {
    margin: 0 auto;
    position: relative;
    // max-width: 1920px;
    width: 100%;
}


.error_field {
    textarea,
    input {
        border: solid 1px #ec3e3f !important;
    }
}

// mixins for fix styles fancybox
@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

/*------------*/
/*------------*/
/*------------*/

/*------------*/
/*Общее*/
/*------------*/

p, a, h1, h2, h3, h4, h5, h6,
button, label {
    font-family: MuseoSansCyrl;
    font-style: normal;
}


/*------------*/
/*Заголовки*/
/*------------*/

// В модальном окне
.title__1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: $_dark;
}

// В модальном окне
.title__2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 58px;
    color: $neutralColor;
}

// Заголовок в шапке
.title__3 {
    font-weight: 600;
    font-size: 52px;
    line-height: 50px;
    color: $neutralColor;
}

// Белый заголовок
.title__4 {
    font-weight: 600;
    font-size: 52px;
    line-height: 56px;
    color: $neutralColor;
}

// Тёмный заголовок
.title__h2 {
    font-weight: 600;
    font-size: 52px;
    line-height: 58px;
    color: $_dark;
}

// Маленький тёмный заголовок:
// - слайд 2-4 слайдеров
// - карты
// - секция Отделка
// - другие ?
.title__h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $_dark;
}

// Первые вкладки (с формай), первая вкладка, левая коловка
.title__5 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #413949;
    margin-bottom: 15px;

}


/*------------*/
/*Тексты*/
/*------------*/

// В модальном окне
.text__1 {
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: $_gray;
    //text-align: center;
}

// Текст, который показывает шаг формы или номер слайда
.text__step {
    font-weight: normal;
    font-size: 19px;
    line-height: 56px;
    opacity: 0.5;
    color: #7C7781;

    &--light {
        color: $neutralColor;
    }

    &--dark {
        color: #7C7781;
    }
}

// Справа от логотипа
.text__3 {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: $neutralColor;
    opacity: 0.5;
    width: 127px;
    margin-left: 16px;
}

// В шапке два остальных текста
.text__4 {
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    color: $neutralColor;
}

.infographics__number, .infographics__text {
    color: #413949;
    text-align: center;
}

.infographics__number {
    font-weight: 600;
    font-size: 120px;
    line-height: 144px;
}

.infographics__text {
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    transform: translateY(-20px);
}

// Белый текст 1
.text__5 {
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    color: $neutralColor;
}

// Белый текст 2
.text__6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $neutralColor;
}

.bubbleWhiteText {
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: $neutralColor;
}

// Маленький оранжевый текст
.text__7 {
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    color: $_orange;
}

// Текст слайда второго слайдера
// Маленький тёмный текст
.near__time {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: $_gray;

    &--walk, &--car {
        &:before {
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
    }

    &--walk {
        &:before {
            transform: translateY(2px);
            width: 7px;
            height: 15px;
            margin-right: 16px;
            background-image: url(../img/near__time--walk.svg);
        }
    }

    &--car {
        &:before {
            width: 18px;
            height: 12px;
            margin-right: 9px;
            background-image: url(../img/near__time--car.svg);
        }
    }
}

// Текст слайда 3 и 4 слайдера,
// карты, на пузыре во втрой и третьей вкладке
.text__9 {
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: $_gray;

    &--light {
        text-align: center;
        color: #ffffff;
    }
}

// Подвал: текст справа от заголовка
.text__10 {
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    color: $neutralColor;
    opacity: 0.5;
}

.text__11 {
    font-weight: normal;
    font-size: 19px;
    line-height: 34px;
    color: $_gray;
}


/*------------*/
/*Ссылки*/
/*------------*/

// Ссылка в шапке
.link__1 {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: $neutralColor;
    margin-left: 110px;
}

// Документы текст
.link__2 {
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    color: $_gray;

    &:hover {
        color: $_orange;
        text-decoration: underline;
    }
}

// Ссылка телефона возле карты
.link__3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: $_dark;
}

.download {
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    color: $_orange;

    &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 18px;
        margin-right: 10px;
        background-image: url(../img/download--orange.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translateY(3px);
    }
}


/*------------*/
// + Кнопки
/*------------*/

.btn {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}

// Кнопка в модальном окне
// В формах
// Активная кнопка в планировке
// В третьем слайдере
// В первой вкладке
// секция с прайсом (загрузка)
.btn-orange-1 {
    background: $_orange;
    color: $neutralColor;
    padding: 21px 33px 26px;

    &:hover {
        background: $_orange2;
    }

    &--disabled {
        color: rgba($neutralColor, 0.3);
        &:hover {
            background: $_orange;
        }
    }

    &--download {
        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 18px;
            margin-right: 10px;
            background-image: url(../img/download.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(3px);
        }
    }
}

// В первой форме первая кнопка
// Неактивная кнопка в планировке
.btn-orange-2 {
    border: 2px solid $_orange;
    background-color: transparent;
    color: $_dark;

    &:hover {
        border: 2px solid $_orange;
        background: $_orange;
        color: $neutralColor;
    }
}

// В модальном окне
.btn-transparent {
    border: 2px solid $neutralColor;
    background-color: transparent;
    color: $neutralColor;
    padding: 22px 47px;

    &:hover {
        border: 2px solid transparent;
        background-color: $neutralColor;
        color: #413949;
    }

    &:disabled {
        opacity: 0.2;
    }

    & + .btn {
        margin-left: 10px;
    }
}

// На главном экране
// Во вкладках
.btn-white {
    background: $neutralColor;
    color: $_dark;
    padding: 24px 40px;

    &:hover {
        color: rgba($_dark, 0.6);
    }

    &:disabled {
        color: rgba($_dark, 0.2);
    }
}


/*------------*/
/*Секция формы*/
// + Вкладки
// + Элементы управления слайдером
/*------------*/

/*------------*/
// Формы
/*------------*/

.f-checkbox {
    &__label {
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        color: #413949;
        display: grid;
        grid-gap: 28px;
        grid-template-columns: auto 1fr;
        cursor: pointer;

        &:before {
            content: '';
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 22px;
            height: 22px;
            display: inline-block;
            background-image: url(../img/f-checkbox-input--unchecked.svg);
        }

        &--light {
            color: $neutralColor;

            &:before {
                background-image: url(../img/f-checkbox-input--unchecked-light.svg);
            }
        }

    }

    &__input {
        display: none;

        &:checked + .f-checkbox__label:before {
            background-image: url(../img/f-checkbox-input--checked.svg);
        }

        &:checked + .f-checkbox__label--light:before {
            background-image: url(../img/f-checkbox-input--checked-light.svg);
        }
    }
}


.selection__count {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #7C7781;

    &-number {
        font-weight: bold;
        color: #413949;
    }
}

// Поля ввода
.f-field {

    &__title {
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #7C7781;
        margin-bottom: 10px;
    }

    &__textarea, &__input {
        width: 100%;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 21px 27px;
        transition: 200ms;

        &::placeholder {
            font-weight: normal;
            font-size: 19px;
            line-height: 23px;
            color: #B8B6BB;
        }

        &:focus {
            border: 1px solid #FFB52E;
        }
    }

    &__textarea {
        height: 150px;
        resize: none;
    }

    &__input {
    }

    & + & {
        margin-top: 23px;
    }
}

// Диапазон
.f-range {
    position: relative;


    &__text {
        border: 1px solid #D3D3D3;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #413949;
        padding: 20px 28px;
        width: 100%;
        margin-top: 7px;
    }

    &__range {
        position: absolute;
        width: calc(100% - 10px);
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__unit {
        position: absolute;
    }

    &:after {
        content: attr(data-unit);
        position: absolute;
        right: 35px;
        bottom: 24px;
        font-size: 19px;
        color: #7C7781;
        pointer-events: none;
    }
}

// Персональные данные
.personal-data {
    margin: 32px 0 47px;

    &__check {
    }

    &__label {
        display: grid;
        // gg
        grid-gap: 12px;
        grid-template-columns: auto 1fr;
        cursor: pointer;

        &:before {
            content: '';
            background-repeat: no-repeat;
            // contain VS cover
            background-size: contain;
            background-position: center;
            width: 22px;
            height: 22px;
            display: inline-block;
            background-image: url(../img/f-checkbox-input--unchecked.svg);
        }

    }

    &__input {
        display: none;

        &:checked + label:before {
            background-image: url(../img/f-checkbox-input--checked.svg);
        }
    }

    &__p, &__a {
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #7C7781;

    }

    &__a {
        text-decoration: underline;
    }
}


// Телефон

.tel {
    &--dark {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #413949;
    }

    &--icon {
        &:before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(../img/tel--orange.svg);
            margin-right: 13px;
        }
    }
}

.look-map {
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    color: #FFB52E;

    &:before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/geo.svg);
        margin-right: 10px;
    }
}
