// App
//
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  color: $neutralColor;
  background-color: $bodyBackground;
  font-family: "AvertaCY", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
  overflow-x: hidden; // fix: Некоторые блоки могут выходить за пределы по горизонтале
  color: $bodyColor;
  font-weight: 400;
  line-height: $lineHeight;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
  width: 100%;
  @media (max-width: 1300px) {
    padding: 0 1rem;
  }
}

svg.inlineIcon {
  fill: currentColor;
  height: 1rem;
}

main {
  margin: 0 auto;
  position: relative;
  // max-width: 1920px;
  width: 100%;
}


.error_field {
  textarea,
  input {
    border: solid 1px #ec3e3f !important;
  }
}

// mixins for fix styles fancybox
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

/*------------*/
/*------------*/
/*------------*/

/*------------*/
/*Общее*/
/*------------*/

p, a, h1, h2, h3, h4, h5, h6,
button {
    font-family: Museosanscyrl500;
    font-style: normal;
}


/*------------*/
/*Заголовки*/
/*------------*/

// В модальном окне
.title__1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: $_dark;
}

// В модальном окне
.title__2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 58px;
    color: $neutralColor;
}

// Заголовок в шапке
.title__3 {
    font-weight: 600;
    font-size: 52px;
    line-height: 50px;
    color: $neutralColor;
}

// Белый заголовок
.title__4 {
    font-weight: 600;
    font-size: 52px;
    line-height: 56px;
    color: $neutralColor;
}

// Тёмный заголовок
.title__h2 {
    font-weight: 600;
    font-size: 52px;
    line-height: 58px;
    color: $_dark;
}

// Маленький тёмный заголовок:
// - слайд 2-4 слайдеров
// - карты
// - секция Отделка
// - другие ?
.title__h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $_dark;
}


/*------------*/
/*Тексты*/
/*------------*/

// В модальном окне
.text__1 {
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: $_gray;
    //text-align: center;
}

// Текст, который показывает шаг формы или номер слайда
.text__2 {
    font-weight: normal;
    font-size: 19px;
    line-height: 56px;
    color: $neutralColor;
    opacity: 0.5;
}

// Справа от логотипа
.text__3 {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: $neutralColor;
    opacity: 0.5;
    width: 127px;
    margin-left: 16px;
}

// В шапке два остальных текста
.text__4 {
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    color: $neutralColor;
}

.infographics__big {
    font-weight: 600;
    font-size: 120px;
    line-height: 144px;
    color: $_dark;
}

.infographics__small {
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    color: $_dark;
}

// Белый текст 1
.text__5 {
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    color: $neutralColor;
}

// Белый текст 2
.text__6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $neutralColor;
}

.bubbleWhiteText {
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: $neutralColor;
}

// Маленький оранжевый текст
.text__7 {
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    color: $_orange;
}

// Текст слайда второго слайдера
// Маленький тёмный текст
.text__8 {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: $_gray;
}

// Текст слайда 3 и 4 слайдера, карты
.text__9 {
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: $_gray;
}

// Подвал: текст справа от заголовка
.text__10 {
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    color: $neutralColor;
    opacity: 0.5;
}


/*------------*/
/*Ссылки*/
/*------------*/

// Ссылка в шапке
.link__1 {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    color: $neutralColor;
    margin-left: 135px;
}

.menu-item {
    font-weight: 600;
    font-size: 24px;
    line-height: 58px;
    color: $neutralColor;

    &__active {
        opacity: 0.5;
    }
}

// Документы текст
.link__2 {
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    color: $_gray;

    &--active {
        color: $_orange;
        // text decoration
    }
}

// Ссылка телефона возле карты
.link__3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: $_dark;
}


/*------------*/
/*Секция формы*/
// + Вкладки
// + Элементы управления слайдером
/*------------*/


/*------------*/
// + Кнопки
/*------------*/

.btn {
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

// Кнопка в модальном окне
// В формах
// Активная кнопка в планировке
// В третьем слайдере
// В первой вкладке
// секция с прайсом (загрузка)
.btn-orange-1 {
    background: $_orange;
    color: $neutralColor;

    &:hover {
        background: $_orange2;
    }

    &:disabled {
        opacity: 0.3;
    }
}

// В первой форме первая кнопка
// Неактивная кнопка в планировке
.btn-orange-2 {
    border: 2px solid $_orange;
    background-color: transparent;
    color: $_dark;
}

// В модальном окне
.btn-transparent {
    border: 2px solid $neutralColor;
    background-color: transparent;
    color: $neutralColor;

    &:hover {
        opacity: 0.6;
    }

    &:disabled {
        opacity: 0.2;
    }
}

// На главном экране
// Во вкладках
.btn-white {
    background: $neutralColor;
    color: $_dark;
    padding: 24px 40px;

    &:hover {
        color: rgba($_dark, 0.6);
    }

    &:disabled {
        color: rgba($_dark, 0.2);
    }
}
