// MuseoSansCyrl
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl.eot') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl.svg#MuseoSansCyrl') format('svg');
}
