@import "./fonts.scss";
@import "./_reset.scss";
@import "./uikit.scss";
@import "./base.scss";
@import "./_type.scss";

@import "./pugins/alerts.scss";
@import "./pugins/swiper.scss";
@import "./pugins/nouislider.scss";

// functions
@import "./functions/colors.scss";

// components begine
@import "./blocks/header";
@import "./blocks/infographics";
@import "blocks/sliders";
@import "./blocks/selection";
@import "./blocks/decoration";
@import "./blocks/homeNeed";
@import "./blocks/price";
@import "./blocks/developer";
@import "./blocks/documents";
@import "./blocks/contacts";
@import "./blocks/pay";
@import "./blocks/report";
@import "./blocks/footer";
@import "./blocks/modals";
@import "./blocks/plans";
// components end

// home page

// elements begine
@import "./elements/form-button.scss";
@import "./elements/form-textarea.scss";
@import "./elements/form-input.scss";
@import "./elements/form-select.scss";
@import "./elements/form-checkbox.scss";
@import "./elements/ui-multiselect.scss";
@import "./elements/ui-multirange.scss";

// elements end
